* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif !important;
}

html {
  background-color: #ededed;
}

.negative-value {
  color: red;
}

.positive-value {
  color: green;
}
